<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <!--메소드가 포스트 방식이라면 주소창에 아무것도 날가지 않음-->
    <form method="post">
        <div>
            <input type="email" name="userId" placeholder="아이디(이메일) 입력" required/>
        </div>
        <div>
            <input type="text" name="userName" placeholder="입력 입력" required/>
        </div>
        <div>
            <input type="password" name="password" placeholder="비밀번호 입력" required/>
        </div>
        <div>
            <input type="password" name="rePassword" placeholder="비밀번호 확인" required/>
        </div>
        <div>
            <input type="tel" name="phone" placeholder="전화번호 입력" required/>
        </div>
        <div>
            <button>회원가입하기</button>
        </div>
    </form>
</body>
</html>