<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 초기화</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function () {
            // form태그에 대해 submit 이벤트가 잡힐때 실행
            $('form').on('submit', function () {

                // this = form , name = password인 값을 가져오겠다
                var password = $(this).find('input[name = password]').val();
                var rePassword = $(this).find('input[name=rePassword]').val();

                if (password != rePassword){
                    alert("비밀번호와 확인비밀번호가 같지 않습니다")
                    return false;
                }

                return true; // 데이터가 서버로 가지 않는다다

            });

        });

    </script>
</head>
<body>
    <p>비밀번호 초기화</p>

<!--    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>-->

    <div th:if="${result eq true}">
        <form method="post">

            <div th:text="${uuid}"></div> <br/>

            <div th:text="${requestDto}"></div>

            <div>
                <input type="password" name="password" placeholder="비밀번호 입력" required>
            </div>
            <div>
                <input type="password" name="rePassword" placeholder="확인 비밀번호 입력" required>
            </div>
            <div>
                <button type="submit">비밀번호 재설정</button>
            </div>

        </form>
    </div>

    <div th:if="${result eq false}">
        <p>입력값이 유효하지 않아!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
        <div>
            <a href="/">메인으로</a>
        </div>
    </div>


</body>
</html>